/**
    css-Style for the MainWindow-Headbar
*/
#headbar {
    padding: 5px;
    padding-bottom: 20px;
    background: #252526;
    width:100%;
}

#headbarleft {
    width: 50%;
    float:left;
    background: transparent;
    padding-left:25px;
    border-right: solid #393939 1px;
}

#headbarright {
    width: 50%;
    float:left;
    background: transparent;
    padding-left: 10px;
}

.title {
    text-transform: uppercase;
    font-size: small;
    color: #666666;
    font-weight: bold;
}
